.chainContainer {
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  border-left: 1px solid #3755f0;
  border-right: 1px solid #c00297;
  border-radius: 8px;
  background-size: 100% 1px;
  background-image: linear-gradient(90deg, #3755f0, #c00297), linear-gradient(90deg, #3755f0, #c00297);
  background-repeat: no-repeat;
  background-position: 0 0, 0 100%;
  background-color: transparent !important;
  max-width: 300px;
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  background: linear-gradient(317.15deg, #6E34CD 3.65%, #C10297 91.98%);
  color: #fff;
}

.name {
}

.chainInfoContainer {
  display: flex;
  align-items: flex-start;
  margin-left: 52px;
  margin-bottom: 20px;
}

.dataPoint {
  flex: 1;
}

.dataPointHeader {
  padding-bottom: 7px;
}

.avatar {
  margin-right: 24px;
  border-radius: 50%;
}

.chainNameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px !important;
}

@media screen and (max-width: 1500px) {
  .chainContainer {
    width: 248px;
    padding: 20px;
  }
}


@media screen and (max-width: 600px) {
  .chainContainer {
    width: calc(100vw - 40px);
    max-width: 100%;
  }
}